.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}

.copy {
  opacity: 0.7;
  font-size: 1.8rem;
  font-weight: 500;
  margin: 2rem 0rem;
}

.statsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.feature {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--purple);
  letter-spacing: -1px;
}

.value {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: -1px;
  opacity: 0.7;
}

.right {
  height: 100%;
  background: rgb(158,200,185);
background: -moz-linear-gradient(180deg, rgba(158,200,185,1) 0%, rgba(27,66,66,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(158,200,185,1) 0%, rgba(27,66,66,1) 100%);
background: linear-gradient(180deg, rgba(158,200,185,1) 0%, rgba(27,66,66,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9ec8b9",endColorstr="#1b4242",GradientType=1);
  border-radius: 20px;
}


@media screen and (max-width: 968px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .right {
    height: 300px;
  }
}
