.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 3rem;
  background-color: var(--purple2);
  padding: 2rem;
  border-radius: 10px;
  flex-wrap: wrap;
}

.btn {
  background-color: var(--white);
  padding: 1.5rem;
  border-radius: 5px;
  line-height: 100%;
  white-space: nowrap;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.btn:hover {
  background-color: var(--purple);
  color: var(--white);
}

.active {
  background-color: var(--purple);
  color: var(--white);
  padding: 1.5rem;
  border-radius: 5px;
  line-height: 100%;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  transition: all 0.2s ease;
}
