.container {
  padding: 10rem 0rem;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
}

.left,
.right {
  flex: 1;
  width: 100%;
}

.imgContainer,
.imgContainerii {
  height: 100%;
  width: 100%;
  mask-image: url(/icons/asset.svg);
  mask-position: 50% center;
  mask-size: auto 100%;
  mask-repeat: no-repeat;
}

.imgContainerii {
  display: none;
}

.img {
  object-fit: cover;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.icon {
  position: relative;
  top: 3px;
  color: var(--gold);
}

.title {
  font-size: 2rem;
  text-transform: uppercase;
}

.copy {
  line-height: 150%;
  color: var(--black);
  width: 90%;
  margin-bottom: 2rem;
}

.copyii {
  color: var(--black);
  opacity: 0.7;
  width: 80%;
  margin-top: 1rem;
}

.iconTextContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

.strong {
  font-family: var(--roboto);
  font-weight: 500;
  text-transform: capitalize;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 3rem;
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .right {
    gap: 3rem;
  }

  .heading,
  .copy {
    text-align: center;
    width: 100%;
  }

  .copy {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .imgContainer {
    display: none;
  }

  .imgContainerii {
    display: block;
    margin-bottom: 1rem;
  }

  .imgContainerii {
    height: 300px;
  }

  .copyii {
    width: 100%;
  }

  .btnContainer {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 568px) {
  .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .content {
    padding: 0rem;
    padding-top: 3rem;
  }

  .imgContainerii {
    height: 250px;
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .heading {
    text-align: center;
  }

  .copy {
    width: 100%;
  }

  .imgContainer {
    border: 5px solid var(--red2);
  }

  .imgContainer::after,
  .imgContainer::before {
    width: 0%;
    height: 0%;
  }

  .btnContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 4rem;
  }
}
