.container {
  background-color: var(--white);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.copy {
  max-width: 23em;
  font-size: 2.4rem;
  font-family: var(--fraunces);
  font-style: italic;
  font-weight: 300;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.25em;
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.scriptText {
  font-family: var(--missFajardose);
  font-size: 2rem;
  color: var(--gold);
}

.founder {
  font-size: 1.4rem;
  color: var(--black);
  font-family: var(--TeXGyreAdventor);
}
