.container {
  padding: 1rem;
}

.top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-bottom: 1rem;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 200px;
}

.img {
  object-fit: cover;
  border-radius: 10px;
}

.bottom {
  background-color: var(--blue);
  border-radius: 10px;
  padding: 1rem;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 998;
}

.logo {
  z-index: 998;
  font-size: 2rem;
  letter-spacing: 2px;
  font-family: var(--TeXGyreAdventor);
  text-transform: uppercase;
  color: var(--white);
  text-align: center;
  white-space: nowrap;
}

.bottomContent {
  margin-top: 8.4em;
  margin-bottom: 8.4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 10rem; */
  max-width: 66em;
  margin-left: auto;
  margin-right: auto;
}

.asset {
  z-index: 998;
  position: relative;
  top: 5px;
  margin-right: 1rem;
  color: var(--white);
}

.left,
.middle,
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.wave {
  font-size: 7rem;
  margin-bottom: 1rem;
  color: var(--gold);
}

.address {
  color: var(--white);
  font-size: 1.8;
  text-align: center;
  font-weight: 100;
  line-height: 1.5em;
  font-style: italic;
  font-family: var(--fraunces);
}

.iconContainer {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(246, 244, 239, 0.15);
}

.icon {
  width: 1.75em;
  height: 1.75em;
  color: var(--white);
}

.info {
  color: var(--white);
  font-size: 1.2rem;
}

@media screen and (max-width: 568px) {
  .top {
    grid-template-columns: repeat(2, 1fr);
  }

  .imgContainer {
    height: 150px;
  }

  .bottomContent {
    flex-direction: column;
    height: 100%;
    grid-gap: 5rem;
  }

  .middle {
    order: -1;
  }
}
