.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 3rem;
}

.icon {
  color: var(--gray);
}

@media screen and (max-width: 568px) {
  .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
    place-items: center;
  }
}
