.container {
  padding: 1rem;
  background-color: var(--white);
  padding-top: 10rem;
}

.top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.heading {
  text-align: center;
}

.wave {
  width: 7rem;
  height: 100%;
  margin-bottom: 1rem;
  color: var(--gold);
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 600px;
}

.img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.content {
  width: 100%;
}

.bottomContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  width: 100%;
}

@media screen and (max-width: 968px) {
  .bottomContent {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5rem;
  }

  .imgContainer {
    height: 300px;
  }
}

@media screen and (max-width: 568px) {
  .container {
    margin-top: -12rem;
  }
}
